
$black: hsl(0, 0%, 24%);
$grey: hsl(0, 0%, 35%);
$lightgrey: hsl(0, 0%, 80%);

$primary: hsl(225, 85%, 60%);

$head: 'source sans pro', 'helvetica', sans-serif;
$body: 'source serif pro', 'lucida grande', serif;

$sans: $head;

