$background-color: rgb(255, 255, 255);
$primary-color: rgb(13,71,161);

$font-serif: 'gentium book basic', serif;
$font-sans: 'source sans pro', sans-serif;

$oversize-margin: 3rem;
$standard-margin: 1.2rem;
$short-margin: 0.6rem;

$font-small: 0.8rem;

$primary-text-color: rgba(0, 0, 0, 0.80);
$secondary-text-color: rgba(0, 0, 0, 0.40);
