#post-index {
   @extend .boxed;

   .block { padding-bottom: 3rem; }
   time { color: $secondary-text-color; }
}

.post {
   .meta {
      padding-bottom: 2rem;
      time { color: $secondary-text-color; }
   }

   p { line-height: 1.8; }
   figure.highlight {
      border-left: 4px solid rgba(0, 0, 0, 0.1);
      padding-left: 1rem;
   }
}

main.content {
   @extend .boxed;
}
