article {
   h1 {
      @extend .font-sans;
      margin-bottom: $short-margin;
   }

   .meta {
      @extend .font-sans;
      color: $secondary-text-color;
      margin-bottom: $standard-margin;
   }

   p {
      a, a:link, a:visited {
         color: $primary-color;
         text-decoration: underline;
      }
      code {
         background-color: rgba(0,0,0,0.03);
         border-radius: 4px;
         border: 1px solid rgba(0,0,0,0.06);
         padding: 0 4px;
      }
   }

   figure { overflow: visible; }
   figure.highlight {
      border-left: 6px solid rgba(0,0,0,0.04);
      line-height: 1.2rem;
      margin: 0 1rem;
      padding-left: 1rem;
   }

}

#disqus {
   margin-top: $oversize-margin;
}
