@import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro:400|Alegreya|Alegreya+Sans|Catamaran|Merriweather|Noto+Sans|Work+Sans|Amiri|Rosario:400,700|Montserrat|Merriweather+Sans|Open+Sans:400,700|Lora|Fira+Sans');

$mast: 'source sans pro', sans-serif;
$body: 'source sans pro', sans-serif;

$color: hsl(0, 0%, 20%);
$primary: hsl(220, 100%, 58%);

$lightgrey: hsl(0, 0%, 90%);

html { font-size: 20px; }

body {
  color: $color;
  font-family: $body;
  font-size: 1rem;
  line-height: 1.4rem;
  text-rendering: optimizeLegibility;
}

a:link, a:visited {
  color: darken($primary, 10%);
  text-decoration: none;
}

a:active, a:hover {
  color: $primary !important;
  text-decoration: underline;
}

h1 {
  font-family: $mast;
  line-height: 2.5rem;
  margin-top: 1.625rem;
  margin-bottom: 3.25rem;
}

h1 + div.meta {
  margin-top: -3rem;
  margin-bottom: 2em;
}

h2 {
  font-size: 1.625rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.15rem;
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 1rem;
  margin-bottom: 0;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0;
  margin-bottom: 1.25rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  border: 0;
  background-color: $lightgrey;
  height: 6px;
  margin: 1.25rem 0;
}

a, b, i, strong, em, small, code {
}

pre {
  line-height: 1rem;
  margin-left: 0.8rem;
  overflow-x: scroll;
}

code {
  color: hsl(0, 0%, 30%);
  font-size: 0.8em;
  vertical-align: middle;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}
