<!doctype html>
<html lang="en">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

      <title>{% if page.is_post %}{{page.title}} &#x2014; {% endif %}{{site.name}}</title>
      <meta name="description" content="{{ site.meta_description}}" />
      <link rel="canonical" href="https://nick-platt.com">
      <link type="application/atom+xml" rel="alternate" href="/feed.xml">


      <meta name="HandheldFriendly" content="True" />
      <meta name="MobileOptimized" content="320" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

      {% comment %} <script type="text/javascript" src="/assets/js/live.js"></script> {% endcomment %}
      <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400|Gentium+Book+Basic:400,400italic" rel="stylesheet">
      <link rel="stylesheet" href="/assets/css/core.css" />
   </head>

   <body>

      <div id="container" class="flex col center">
         <header>
            <span><a href="/">{{ site.name }}</a>.</span>
         </header>

{{ content }}

         <footer>
{% if page.is_post %}
{% include disqus.html %}
{% endif %}
         </footer>

      </div>

   </body>
</html>
