<!doctype html>
<html lang="en">
<head>
    <title>{{site.title}}{% if page.title %}{{page.title}} &#x2014; {% endif %}</title>

{% include meta.html %}
{% include analytics.html %}
    <link rel="stylesheet" href="/assets/css/core.css"/>
    <link rel="alternate" type="application/atom+xml" href="/feed.xml">

    <script type="text/javascript" src="/assets/js/live.js"></script>
</head>

<body>
<div id="container" class="flex col center">
    <header>
        <span><a href="/">{{site.name}}</a>.</span>
    </header>

    {{content}}

</div>
</body>
</html>
