---
layout: default
---

<main role="main">

  <article>
    <header>
      <h1>{{page.title}}</h1>
      <div class="meta flex items-center">
        <span class="item">
          {% avatar caipre size=40 %}
        </span>
        <span class="item">
          <time datetime="{{page.date | date_to_xmlschema}}"
                title="{{page.date | date_to_xmlschema}}">
            {{page.date | date: "%B %e, %Y"}}
          </time>
        </span>
        <span class="item">&#183;</span>
        <span class="item">
          {{page.content | number_of_words | divided_by: 200}} min read
        </span>
      </div>
    </header>

    <hr/>

    <section class="content">
      {{content}}
    </section>

    <footer>
      <hr/>
      <div class="flex justify-between">
        <span class="item">{% if page.previous %}
          <a href="{{page.previous.url}}">&#8676; Previous</a>{% endif %}</span>
        <span class="item">
          <a href="{{site.url}}">Index</a></span>
        <span class="item">{% if page.next %}
        <a href="{{page.next.url}}">Next &#8677;</a>{% endif %}</span>
      </div>
    </footer>
  </article>

</main>
