---
layout: default
is_post: true
---

         <main role="main">

            <article>

               <header>
                  <h1>{{ page.title }}</h1>
                  <div class="meta">
                     Posted on
                     <time datetime="{{page.date | date_to_xmlschema}}"
                           title="{{page.date | date_to_xmlschema}}">
                        {{page.date | date: "%B %e, %Y"}}</time>
                     {% if page.tags.length > 0 %} in
                        {{page.tags | join: ', '}}
                     {% endif %}
                  </div>
               </header>

               <section class="content">
                  {{content}}
               </section>

            </article>

{% include disqus.html %}

         </main>
